<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.paradaux.api.mappers.IfumMapper">
    <resultMap id="IfumVisitResultMap" type="IfumVisit">
        <id property="id" column="id"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertVisit" parameterType="IfumVisit">
        INSERT INTO ifum.visits (ip_address, user_agent)
        SELECT #{ipAddress}, #{userAgent}
        WHERE NOT EXISTS (
            SELECT 1 FROM ifum.visits WHERE ip_address = #{ipAddress}
        )
    </insert>

    <select id="getVisitCount" parameterType="int" resultType="Integer">
        SELECT COUNT(*) AS count FROM ifum.visits
    </select>




</mapper>